<!DOCTYPE html>
<%#include "blogapp.h" %>
<% tfetch(QVariantMap, blogapp); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Load Blogapp</h1>

<%== formTag(urla("load"), Tf::Post, true) %>
  <p>
    File: <input name="csv" type="file">
  </p>
  <p>
    <input type="submit" value="Upload">
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
